<div class="wrapper">
    <div class="box ATORN">
        <div class="container">
        <app-db-table [dbName]="'atonr'"></app-db-table>
        </div>
    </div>
    <div class="box ATLR">
        <div class="container">
            <app-db-table [dbName]="'atlr'"></app-db-table>
            </div>
    </div>
    <div class="box ADCR">
        <div class="container">
            <app-db-table [dbName]="'adcr'"></app-db-table>
            </div>
    </div>
    <div class="space_container"></div>
    <div class="box ATLR_GG_apply_lag">
        <div class="container">
            <app-apply-lag></app-apply-lag>
        </div>
    </div>
    <div class="space_container"></div>
</div>
<div class="secondWrapper">
    <div class="box ATONR_ADG">
        <div class="container">
            <app-db-table [dbName]="'atonr_adg'"></app-db-table>
            </div>
    </div>
    <div class="box ADCR_ADG">
        <div class="container">
            <app-db-table [dbName]="'adcr_adg'"></app-db-table>
            </div>
    </div>
    <div class="box INTR">
        <div class="container">
            <app-db-table [dbName]="'intr'"></app-db-table>
            </div>
    </div>
    
    <div class="box INT8R">
        <div class="container">
            <app-db-table [dbName]="'int8r'"></app-db-table>
            </div>
    </div>


</div>